<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>jQuery Get Selected File Name</title>
	<style>
		progress{width:300px;height:30px}
	</style>
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
	<!-- <script src="jquery-1.12.4.min.js"></script> -->
	<script type="text/javascript">
		ready = false;
        processed = 1;
	    $(document).ready(function(){
	        $('input[type="file"]').change(function(e){
	        	if(e.target.files[0] && e.target.files[0].name){
	                var fileName = e.target.files[0].name;
	                console.log('The file "' + fileName +  '" has been selected.');
	                console.log(document.getElementById('fileDialog').value)
	                
					var file = e.target.files[0];                 
					var reader = new FileReader();
				   	reader.onloadstart = function(readerEvent){
				   		console.log("onloadstart");				   		
				  		document.getElementById("status").innerHTML = "Upload started...";
				  		//Busy indicator
				  		$("body").css("cursor", "progress");
				  		waitForFileLoad();
				   	}
				   	reader.onloadend = function(readerEvent) {
				   		console.log("onloadend");				   						   		
				  		document.getElementById("status").innerHTML = "Upload finished.";
				  		document.getElementById("progressBar").value = 100; 
				  		var content = readerEvent.target.result; // this is the content!
				  		document.getElementById("myTextarea").value	= content;
				  		//Normal indicator
				  		$("body").css("cursor", "default");
				  		ready = true;
				   	}
				   	
					// Getting a hold of the file reference
				   	reader.readAsText(file,'UTF-8');
	        	}
	        });
	    });
	    
	    var waitForFileLoad = function() {
	        if (ready === true) {
	             // do what you want with the result variable
	             return;
	        }
  			document.getElementById("progressBar").value = document.getElementById("progressBar").value + processed;
  			document.getElementById("status").innerHTML = document.getElementById("progressBar").value + "% uploaded... please wait";
	        setTimeout(waitForFileLoad, 1000)
	    }
	    
	    function clear(){
	    	document.getElementById("myTextarea").value = "";
	    	document.getElementById("status").value = "";
	    	document.getElementById("loaded_n_total").value = "";
	    	document.getElementById("progressBar").value = 0;
	    }
	</script>
</head>
<body>
    <form>
        <input type="file" id="fileDialog" accept=".csv"><br>
        <div id="progressInd">
			<progress id="progressBar" value="0" max="100" style="width:300px;"></progress><br>
			<textarea rows="10" cols="100" id="myTextarea"></textarea><br>
	  		<h3 id="status"></h3><br>
	  		<p id="loaded_n_total"></p><br>        
        </div>
		<button onclick="clear()">clear</button>
    </form>
</body>
</html>